@import '~@fortawesome/fontawesome-free/css/all.min.css';

.btn {
	width: 62px;
	height: 35px;
	font-family: inherit;
	font-size: 1rem;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 4px;
	cursor: pointer;
}

.btn:hover {
	color: #fff;
	background-color: dodgerblue;
	border-color: royalblue;
	transition: 0.5s;
}

.btn:focus {
	outline: 0;
}

.task-list-item {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-top: 10px;
	font-size: 1.25rem;
	word-wrap: break-word;
}

.task-list-item-label {
	display: table-cell;
	padding: 0 10px;
}

.task-list-item input[type="checkbox"] {
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 2px;
	vertical-align: middle;
	cursor: pointer;
}

.done {
	text-decoration: line-through;
	color: lightgray;
}

.important {
	font-weight: bold;
	color: royalblue;
}

.task-list-item-buttons-group {
	display: table-cell;
	width: 123px;
}

.task-list-item-buttons-group button {
	width: 35px;
	margin-left: 2px;
}

.task-list-item-buttons-group button:hover {
	border-style: none;
}

.btn-info {
	color: deepskyblue;
	border-color: deepskyblue;
}

.btn-info:hover {
	background-color: deepskyblue;
}

.btn-important {
	color: forestgreen;
	border-color: forestgreen;
}

.btn-important:hover {
	background-color: forestgreen;
}

.btn-delete {
	color: orangered;
	border-color: orangered;
}

.btn-delete:hover {
	background-color: orangered;
}
